@import url('https://fonts.googleapis.com/css?family=Montserrat|PT+Serif|Quicksand|Raleway|Roboto');

body{
  margin: 0;
  font-family: "Raleway"
}
header {
  background-color: #11dc27;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 25px 0 black;
}
header ul {
  list-style: none;
  text-align: center;
  padding-left: 600px;
}
header h2{
  color: #11dc27;
  text-shadow: 1px 1px grey,-1px 1px grey,1px -1px grey,-1px -1px grey;
  font-size: 30px;
  margin-top: 7px;
  padding: 8px 4px 10px 2px;
}
.nav-item {
  display: inline-block;
  width: 100px;
  text-align: center;
  font-family: 'Raleway';
  line-height: 48px;
  text-shadow: 1px 1px grey,-1px 1px grey,1px -1px grey,-1px -1px grey;
  /* transition: width 1s;
  transition-timing-function: cubic-bezier(0.5, 1.0, 1.0, 0.1); */
}

header a {
  text-decoration: none;
  color: white;
}
header a:hover {
  color: darkgreen;
  text-shadow: 0 0 0 white;
  width:89px;
}
.logoContainer{
  flex:2;
}
.siteLogo{
  float: left;
  background: url(../images/binoculars-eyes.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* border: solid 1px white; */
  border-radius: 1px;
  height: 68px;
  width: 85%;
  position: relative;
  bottom: 5px;
}
.h-nav{
  margin-top: 0;
  display:flex;
}
nav{
  text-align: right;
  flex:1;
  display: flex;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropContent {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 140px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
  /*padding: 12px 16px;*/
}
.dropContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-shadow: 0 0 0 white;
}
.dropContent a:hover {
  background: #11dc27 ;
  color: white;
  text-shadow: 0 0 0 white;
}
.dropdown:hover .dropContent {
  display: block;
}
.dropdown:hover .dropButton {
  cursor: pointer;
}
.title{
  text-align: center;
  background: url("../images/binoculars.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.title h1 h4{
  padding-bottom: 30px;
  font-family: 'Montserrat-Black';
  font-size: 25px
}
h1 {
  font-size: 40px;
  padding-top: none;
}
h4 {
  font-size: 25px
}
p{
  font-size: 18px
}

.blur{
  background: rgba(0, 0, 0, 0.5);
  color:white;
  padding:45px 15px 10px;
  height:400px;
  width:96%;
  margin:auto;
  /* border: 1px solid;
  border-radius: 18px; */
  box-shadow: 4px 4px 31px #000;
  
}
.blur a{
  color: white;
  text-decoration: none;
  padding: 20px 0;
}
.title button{
  width: 50%;
  height: 85px;
  background: rgba(0, 0, 0, 0.0);
  border: 2px solid white;
  border-radius: 50px;
  font-size: 45px;
  color:white;
  cursor: pointer;
  margin-bottom: 150px;
  font-family: 'Raleway'
}

.title button:hover {
  background:rgba(0, 0, 0, 0.5);
}
.title button:focus{
  outline:none
}
footer {
  background: #11dc27;
  height: 30px;
  padding:auto;
  display: flex;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 0;
}
#footNote {
  margin: 0 auto;
  text-align: center;
  color: #fff;
}
.blur1{
  background: rgba(0, 0, 0, 0.2);
  color:white;
  width:100%;
 padding-top: 125px;
 padding-bottom: 30px;
}
.blurContent{
  margin-top: 80px;
}
#improve{
  background: whitesmoke;
  padding-bottom: 30px;
}
#reportRecords{
  background: whitesmoke;
  padding-bottom: 30px;
  margin-top: 30px;
}
.extras{
  margin-top: 1px;
  padding: 2%;
  flex:1;
  background: #fff;
  /* width:20%; */
  border:2px solid #d3d9df;
  border-radius: 10px;
  margin-right: 20px;
  margin-left: 20px;
  box-shadow: -9px 9px 40px rgba(0,0,0,0.2);
}
.extras:hover{
  box-shadow: -9px 9px 40px rgba(0,0,0,0.6);
}
.anselem h1{
  text-transform: uppercase;
  text-align: center;
}
.anselem h3{
  text-transform: uppercase;
  text-align: center;
  font-family: 'Raleway'

}
.main{
  width: 85%;
  margin: 0 auto;
  display:flex;
  flex-wrap: wrap;
}
.main1{
  width: 85%;
  margin: 0 auto;
  display:flex;
  flex-wrap: wrap;
}

.startLink {
  padding: 5px 2px 5px 2px;
  font-size: 22px;
  text-decoration: none;
  display: block;
  color: black;
  position: relative; 
  z-index: 10;

}
  
  
  .startlinkContainer {
  border-radius: 5px;
  width: 180px;
  position: relative;
  border: 1px solid #11dc27;
  text-align: center;}
  
  .startlinkContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #11dc27;
  border-radius: 5px;
  
  transform: scaleY(0);
  transition: transform .1s,
              width .4s cubic-bezier(1,0,0,1) .1s,
              background-color .6s;}
  .startlinkContainer:hover::before,
  .current::before {
  transform: scaleY(1);
  width: 100%;}

  .extras ul li {
    padding: 10px;
    font-family: 'Raleway';
    font-weight: bold;

  }

  h3{
    font-family: 'Releway'
  }
.coverUp {
  background-color: #11dc27;
  width: 50%;
  margin: 0 auto;
  box-shadow: 0 0 25px 0 black;
  /* border: 1px solid white; */
  border-radius: 5px;

}
.icon{
  display: none;
}

@media screen and (max-width: 600px){
  /*.main-nav .nav-item:not(:first-child){*/
    /*display: none;*/
  /*}*/
  .main-nav .nav-item{
    display:none;
  }
  .icon{
    display: block;
    float:right;
    position: relative;
    left: 70%;
  }
  .icon a{
    color:#0e3f0e;
  }
  .main-nav.responsive {
    position: relative;
    display: block;
    top: 143px;
    background: #11dc27;
  }
  .main-nav.responsive div.icon {
    position: absolute;
    right: 56px;
    top: -33px;
    transform: rotate(90deg);
  }
  .main-nav.responsive div {
    float: none;
    display: block;
    text-align: left;
    padding: 2px;
  }
  .siteLogo{
    width:42%;
  }
  .blur{
    height:486px;
    width:101%;
  }
  .blur1{
    width:93%;
    padding-bottom:0;
  }
  .title button{
    height:110px;
  }
  .extras{
    margin-top:14px;
  }

}